@{
    ViewBag.Title = "About";
}
<br />
<h2>Mario Botero Florez</h2>
<h3>Ingeniero de sistemas</h3>
<br />
<div class="row">
    <div class="col-md-6">
        <p>
            Senior Developer platforms. NET at ASP.MVC, ASP.Net, UWP, WP, WPF, WCF, WinForms.
            Experience in management and administration of online ordering systems.
            Experience in billing POS systems, Logistics Systems (Stock, Inventory, Dispatch)
            Databases (Oracle 10g-11g-12g) (SQL Server 2005 2008 2012) (Postgres) (My SQL).
        </p>        
    </div>
</div>



